.profile-image {
    width: 35px;
    height: 35px;
    margin-right: 1em;
}

#right-nav {
    margin: 0 4em 0 0;
}

.nav-item {
    margin: 0 2em 0 2em;
}

#right-nav .dropdown{
    margin-left: 0.5em;
}