$createdByMeColor: #d2e5f5;

.tree {
  min-width: 300px;
  max-width: 300px;
  height: 220px;
  max-height: 220px;
  margin-right: 20px;
  margin-bottom: 20px;
  .created-by-me {
    background-color: $createdByMeColor;
  }

  .card-body {
    display: flex;
    flex-direction: row;
  }

  .tree-icon {
    max-width: 60px;
  }

  .title-and-flag {
    width: 100%;
  }

  &:hover {
    border: 1px solid black;
  }

  .text-muted {
    font-weight: bold;
    letter-spacing: 0.5px;

    .imported-by {
      float: right;
      font-size: 1.5em;
      .fa-star {
        margin: 0 5px 0 0;
      }
    }
  }
}
