$createdByMeColor: #bcdcf7;

.tree {
  min-width: 300px;
  margin-right: 20px;
  margin-bottom: 20px;

  .card-body {
    display: flex;
    flex-direction: row;
  }

  .tree-icon {
    max-width: 60px;
  }

  .title-and-flag {
    width: 100%;
  }

  .country-flag {
    width: 3em;
    height: 3em;
    border-radius: 3em;
    overflow: hidden;
    margin: 0 auto;
  }

  &:hover {
    border: 1px solid black;
  }

  .created-by-me {
    background-color: $createdByMeColor;
  }

}
