$createdByMeColor: #bcdcf7;

.tree {
  min-width: 300px;
  max-width: 300px;
  height: 220px;
  max-height: 220px;
  margin-right: 20px;
  margin-bottom: 20px;

  .card-body {
    display: flex;
    flex-direction: row;
  }

  .tree-icon {
    max-width: 60px;
  }

  .title-and-flag {
    width: 100%;

    .title {
    }
  }

  .language-flag {
  }

  .source-language-flag {
    width: 2em;
    height: 2em;
    border-radius: 3em;
    margin-right: 1em;
  }
  
  .target-language-flag {
    width: 4em;
    height: 4em;
    border-radius: 3em;
    margin-left: 1em;
  }


  &:hover {
    border: 1px solid black;
  }

  .created-by-me {
    background-color: $createdByMeColor;
  }

}

.arrow {
  font-size: 3em;
  position: relative;
  top: 10px;
}