@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap");

.prueba {
  font-family: "Noto Sans JP", sans-serif;
}

.aboutButton,
.flagsParagraph {
  margin-bottom: 2em;
}

.inTreelangTitle {
  margin-bottom: 1em;
}
