.language-flag {
  width: 56px;
  height: 56px;
  margin-right: 16px;
}

.target-language-flag {
  margin-left: 14px;
}

.arrow {
  font-size: 40px;
  position: relative;
  top: 10px;
  color: rgba(128, 128, 128, 0.4);
}
