@import "~bootstrap/scss/bootstrap";

.App {
  text-align: center;
}

h1 {
  margin: 2em;
}

.content {
  margin: 1em;
  min-height: 500px;
}

.back-home {
  color: black;
  text-decoration: none;
  padding: 0.5em;
  border: 2px solid black;
  margin: 2em;
  border-radius: 5px;
  background-color: burlywood;
}
